<div id="footer-connected">
    <ul>
      <li class="selected-topic"><i class="fa fa-home" aria-hidden="true"></i></li>
      <li><i class="fa fa-search" aria-hidden="true"></i></li>
      <li><i class="fa fa-bell" aria-hidden="true"></i></li>
      <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
    </ul>
</div>