<div class="profile_header">
  <div class="arrow_back"><i class="fa fa-arrow-left" aria-hidden="true"></i>
  </div>
  <div>
  <p><%= user.name %></p>
  <p><%= user.tweets.length %> Tweets</p>
  </div>
</div>