@use 'branding';

.new-tweet{
  margin:9em auto 1em;

  form{
    display:flex;
    flex-direction:column;
  }

  textarea{
    font-size:1.5em;
    font-weight: 700;
    background: transparent;
    outline:none;
    border:none;
    border-bottom: 3px solid black;
    padding: 1px;
    height:1.5em;
  }

  div{
    display: flex;
    justify-content: space-between;
    font-family: branding.$secondary-font;
    font-display: swap;
    margin:1em 0;
  }

  button{
    background-color: branding.$primary-color;
    color:#FFFFFF;
  }
}